<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='template.css')}}">

    <title>Document</title>
</head>
{% include "sidebar.html" %}
<body>
    

    <h1>Error 500 - Internal Server Error LOL</h1>
    <center>
        <!-- <img src= "{{ url_for('static', filename='404.jpg') }}" alt=""> -->
        
    </center>
    
    
</body>
</html>