<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css')}}">
        
    </head>
    
    <body>
        <!-- {% include "sidebar.html" %} -->
        {% include "firstpage.html %}
        <main>
            <div class="article">
                <h1 class="title">
                    Title
                </h1>
                <article class="text-body">
                    This is article body
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec nibh dui. Nullam non turpis faucibus, malesuada est a, laoreet mauris. Cras ornare imperdiet enim ac tristique. Aenean maximus lobortis iaculis. Duis lacinia interdum sem vel aliquam. Donec at semper eros. Nam quis purus mattis, iaculis nulla et, blandit diam. Pellentesque a lectus a massa ornare viverra. Vestibulum quis imperdiet tortor, ut ultrices orci. Integer eget faucibus est, sit amet rhoncus mi. Fusce ornare diam at turpis aliquet, et volutpat est suscipit. Nunc aliquet malesuada metus a fringilla. Donec ut justo sagittis, suscipit mi nec, sagittis lorem. Nullam eu ligula vel enim aliquet convallis.

Aliquam augue lacus, semper a ex vitae, placerat varius arcu. Suspendisse vehicula sagittis tristique. Maecenas at massa eget elit bibendum lacinia sed nec tellus. Nulla facilisi. Nam sed hendrerit eros, vitae pharetra arcu. Nam neque mi, vehicula id porttitor ut, scelerisque eu lectus. Suspendisse nibh nisl, malesuada at ultricies et, feugiat imperdiet nisi. Phasellus libero nibh, pharetra et porta eu, semper quis nunc. Duis auctor orci tempus nulla ultricies sollicitudin.

In molestie dapibus magna, suscipit varius sapien ultrices condimentum. Sed malesuada urna et volutpat mollis. Donec sodales arcu ante, ut volutpat sapien viverra at. Curabitur in vehicula risus. Nullam elementum, quam id pharetra ullamcorper, urna quam ullamcorper velit, sit amet scelerisque eros enim vel neque. Pellentesque tincidunt posuere dolor, in eleifend lectus imperdiet in. Suspendisse ligula ex, tincidunt sit amet facilisis vel, congue non nunc. Cras nec eros id nulla luctus maximus eu ac leo.

Sed vulputate dui dui, tempus sodales est lobortis eget. Nam id risus et sapien ultrices molestie. Nam dapibus dapibus facilisis. Nullam volutpat ipsum pellentesque, feugiat orci et, mollis urna. Sed aliquet mi a eros condimentum, id elementum neque eleifend. Nunc condimentum sapien sit amet dolor convallis, a scelerisque risus imperdiet. Pellentesque commodo rutrum justo non auctor. Praesent mauris augue, volutpat quis ullamcorper vel, maximus vel quam.

Sed eu fermentum risus. Maecenas semper vehicula gravida. Integer ante erat, scelerisque nec leo nec, dictum semper tellus. Maecenas tristique ac ligula sit amet volutpat. Aliquam ante lectus, pharetra in massa aliquam, convallis tempor massa. Nunc dapibus at libero sit amet facilisis. Cras sit amet urna eros. Donec lectus purus, fermentum quis elementum venenatis, tincidunt sit amet ante. Nunc tincidunt in quam ac convallis. Donec porttitor congue tortor, ut rutrum tortor consectetur a. Quisque ultrices convallis eleifend. In tellus enim, euismod sit amet augue et, egestas varius orci. Phasellus commodo suscipit lectus, quis rhoncus augue mattis dignissim. Curabitur tortor eros, tempor nec facilisis in, cursus at ligula. Praesent consequat feugiat tempor.
                </article>

            </div>
            <div class="article">
                <h1>
                    Title 2
                </h1>
                <article class="text-body">
                    This is article body 2
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec nibh dui. Nullam non turpis faucibus, malesuada est a, laoreet mauris. Cras ornare imperdiet enim ac tristique. Aenean maximus lobortis iaculis. Duis lacinia interdum sem vel aliquam. Donec at semper eros. Nam quis purus mattis, iaculis nulla et, blandit diam. Pellentesque a lectus a massa ornare viverra. Vestibulum quis imperdiet tortor, ut ultrices orci. Integer eget faucibus est, sit amet rhoncus mi. Fusce ornare diam at turpis aliquet, et volutpat est suscipit. Nunc aliquet malesuada metus a fringilla. Donec ut justo sagittis, suscipit mi nec, sagittis lorem. Nullam eu ligula vel enim aliquet convallis.

Aliquam augue lacus, semper a ex vitae, placerat varius arcu. Suspendisse vehicula sagittis tristique. Maecenas at massa eget elit bibendum lacinia sed nec tellus. Nulla facilisi. Nam sed hendrerit eros, vitae pharetra arcu. Nam neque mi, vehicula id porttitor ut, scelerisque eu lectus. Suspendisse nibh nisl, malesuada at ultricies et, feugiat imperdiet nisi. Phasellus libero nibh, pharetra et porta eu, semper quis nunc. Duis auctor orci tempus nulla ultricies sollicitudin.

In molestie dapibus magna, suscipit varius sapien ultrices condimentum. Sed malesuada urna et volutpat mollis. Donec sodales arcu ante, ut volutpat sapien viverra at. Curabitur in vehicula risus. Nullam elementum, quam id pharetra ullamcorper, urna quam ullamcorper velit, sit amet scelerisque eros enim vel neque. Pellentesque tincidunt posuere dolor, in eleifend lectus imperdiet in. Suspendisse ligula ex, tincidunt sit amet facilisis vel, congue non nunc. Cras nec eros id nulla luctus maximus eu ac leo.

Sed vulputate dui dui, tempus sodales est lobortis eget. Nam id risus et sapien ultrices molestie. Nam dapibus dapibus facilisis. Nullam volutpat ipsum pellentesque, feugiat orci et, mollis urna. Sed aliquet mi a eros condimentum, id elementum neque eleifend. Nunc condimentum sapien sit amet dolor convallis, a scelerisque risus imperdiet. Pellentesque commodo rutrum justo non auctor. Praesent mauris augue, volutpat quis ullamcorper vel, maximus vel quam.

Sed eu fermentum risus. Maecenas semper vehicula gravida. Integer ante erat, scelerisque nec leo nec, dictum semper tellus. Maecenas tristique ac ligula sit amet volutpat. Aliquam ante lectus, pharetra in massa aliquam, convallis tempor massa. Nunc dapibus at libero sit amet facilisis. Cras sit amet urna eros. Donec lectus purus, fermentum quis elementum venenatis, tincidunt sit amet ante. Nunc tincidunt in quam ac convallis. Donec porttitor congue tortor, ut rutrum tortor consectetur a. Quisque ultrices convallis eleifend. In tellus enim, euismod sit amet augue et, egestas varius orci. Phasellus commodo suscipit lectus, quis rhoncus augue mattis dignissim. Curabitur tortor eros, tempor nec facilisis in, cursus at ligula. Praesent consequat feugiat tempor.
                </article>

            </div>
            <div class="article">
                <h1>
                    Title 3
                </h1>
                <article>
                    This is article body 3
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec nibh dui. Nullam non turpis faucibus, malesuada est a, laoreet mauris. Cras ornare imperdiet enim ac tristique. Aenean maximus lobortis iaculis. Duis lacinia interdum sem vel aliquam. Donec at semper eros. Nam quis purus mattis, iaculis nulla et, blandit diam. Pellentesque a lectus a massa ornare viverra. Vestibulum quis imperdiet tortor, ut ultrices orci. Integer eget faucibus est, sit amet rhoncus mi. Fusce ornare diam at turpis aliquet, et volutpat est suscipit. Nunc aliquet malesuada metus a fringilla. Donec ut justo sagittis, suscipit mi nec, sagittis lorem. Nullam eu ligula vel enim aliquet convallis.

Aliquam augue lacus, semper a ex vitae, placerat varius arcu. Suspendisse vehicula sagittis tristique. Maecenas at massa eget elit bibendum lacinia sed nec tellus. Nulla facilisi. Nam sed hendrerit eros, vitae pharetra arcu. Nam neque mi, vehicula id porttitor ut, scelerisque eu lectus. Suspendisse nibh nisl, malesuada at ultricies et, feugiat imperdiet nisi. Phasellus libero nibh, pharetra et porta eu, semper quis nunc. Duis auctor orci tempus nulla ultricies sollicitudin.

In molestie dapibus magna, suscipit varius sapien ultrices condimentum. Sed malesuada urna et volutpat mollis. Donec sodales arcu ante, ut volutpat sapien viverra at. Curabitur in vehicula risus. Nullam elementum, quam id pharetra ullamcorper, urna quam ullamcorper velit, sit amet scelerisque eros enim vel neque. Pellentesque tincidunt posuere dolor, in eleifend lectus imperdiet in. Suspendisse ligula ex, tincidunt sit amet facilisis vel, congue non nunc. Cras nec eros id nulla luctus maximus eu ac leo.

Sed vulputate dui dui, tempus sodales est lobortis eget. Nam id risus et sapien ultrices molestie. Nam dapibus dapibus facilisis. Nullam volutpat ipsum pellentesque, feugiat orci et, mollis urna. Sed aliquet mi a eros condimentum, id elementum neque eleifend. Nunc condimentum sapien sit amet dolor convallis, a scelerisque risus imperdiet. Pellentesque commodo rutrum justo non auctor. Praesent mauris augue, volutpat quis ullamcorper vel, maximus vel quam.

Sed eu fermentum risus. Maecenas semper vehicula gravida. Integer ante erat, scelerisque nec leo nec, dictum semper tellus. Maecenas tristique ac ligula sit amet volutpat. Aliquam ante lectus, pharetra in massa aliquam, convallis tempor massa. Nunc dapibus at libero sit amet facilisis. Cras sit amet urna eros. Donec lectus purus, fermentum quis elementum venenatis, tincidunt sit amet ante. Nunc tincidunt in quam ac convallis. Donec porttitor congue tortor, ut rutrum tortor consectetur a. Quisque ultrices convallis eleifend. In tellus enim, euismod sit amet augue et, egestas varius orci. Phasellus commodo suscipit lectus, quis rhoncus augue mattis dignissim. Curabitur tortor eros, tempor nec facilisis in, cursus at ligula. Praesent consequat feugiat tempor.
                </article>

            </div>
            

        </main>
        
        
        
        
    </body>
</html>



